* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(232, 221, 221);
    font-size: 16px;
    font-family: monospace;
    background-color: rgb(45, 44, 44);
    /* width: 100vw; */
}

/* Navigation bar */
nav.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgba(31, 31, 31, 0.8);
    width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-areas: 'Aneeba list list';
    align-items: center;
}

ul.navbarList {
    display: flex;
    flex-wrap: wrap;
    grid-area: list;
}

li {
    list-style: none;
}

li.navitems {
    padding: 0% 3%;
}

a {
    text-decoration: none;
    color: rgb(232, 221, 221);
    font-size: 1.25rem;
}

a.Aneeba {
    font-size: 2.5rem;
    padding: 5%;
    grid-area: Aneeba;
    padding-left: 5rem;
}

.dropdownTrigger {
    display: none;
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgb(45, 44, 44);
    border-radius: 10%;
    padding: 6px;
    float:right;
}
ul.menu{
    display: none;
}

div {
    margin: 5% 0%;
}

div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}

/* Introduction and Contact*/
div.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
}

div.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
}

.content>p {
    font-size: 1.25rem;
}


.myImage {
    border-radius: 60%;
    overflow: auto;
    margin-left: 3rem;
    max-width: 40%;
}

.contact>a {
    margin: 2rem;
}

.code{
    padding-bottom: 10px;
}

/* Skills & Projects*/
div.Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
}

.Content>div {
    margin: 1rem;
    text-align: justify;
    border: solid rgb(232, 221, 221) 1px;
    border-radius: 5%;
    
    box-shadow: 8px 8px 8px rgb(57, 57, 57);
    padding: 1rem;
    width: 29%;
}
.projects>.Content>div{
    margin: 1rem;
    text-align: justify;
    border: solid rgb(232, 221, 221) 1px;
    
    box-shadow: 8px 8px 8px rgb(62, 62, 62);
    border-radius: 5%;
    padding: 1rem;
    width: 45%;
}
h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.links p{
    padding: 1% 0%;
}
.links a{
    font-size: 1rem;
    /* display: block; */
} 
.links a:hover{
    color: rgb(115, 111, 111);
}

/* Achievements */
.achieve{
    height: 300px;
    width: 40%;
    margin: 2rem;
    
    box-shadow: 8px 8px 8px rgb(83, 83, 83);
}

/* More About me */
.aboutMe {
    margin: 1.5rem;
    text-align: justify;
}
.aboutMe > p{
    padding: 1%;
}
.location{
    height: 30px;
}

.Reach{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97vw;
}

.p{
    margin-right: 2rem;
    width: 50%;
}

.my{
    border-radius: 50%;
    overflow: auto;
    margin-left: 3rem;
    max-width: 40%;
}

/* footer */
.copyright{
    background-color: rgba(31, 31, 31, 0.8);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    margin-bottom: 0;
    padding: 5%;
}

/* Media Query for Mobile and Tablet view */
@media (max-width: 1000px) {
    ul.navbarList {
        display: none;
    }
    .container{
        justify-content: center;
    }
    ul.menu.show-list {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    ul.menu.show-list  li {
        /* display: block; */
        width: 100%;
        border: 1px solid rgba(232, 221, 221, 0.793);
        text-align: center;
    }
    div.menu{
        margin:0;
        background-color:  rgba(31, 31, 31, 0.8);
        position: fixed;
        width: 100%;
    }

    .icon {
        display: block;
    }

    .dropdownTrigger {
        display: block;
    }

    div.Content {
        display: flex;
        flex-direction: column;
    }
    .projects>.Content>div{
        width: 93vw;
    }
    .achieve{
        margin: 5% ;
        width: 90vw;
    }
    .Content>div {
        width: 90%
    }
    .Reach{
        display: flex;
        flex-direction: column-reverse;
    }
    .p{
        width:90vw;
    }
}

@media (min-width: 1000px) and (max-width: 1250px) {
    .Content>div {
        width: 30%;

    }

    .achieve{
        width:42%;
        /* margin: 2% 0%; */
    }

}
